*{
  margin:0;
  padding:0;
  font-family:'Poppins',sans-serif;
}

.header{
  width: 100%;
  min-height:100vh;
  background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(banner.png);
  background-position: center;
  background-size:cover;
  position: relative;
}

nav{ 
  
  display:flex;
  justify-content: space-between;
  align-items:center;
  padding:2% 6%;
}
img{
  width:150px;
}

.nav-links{
  flex:1;
  text-align:right;
  
}
li{
  display:inline-block;
  padding:6px 12px;
  list-style:none;
  position:relative;

}
li a{
  font-size:13px;
  text-decoration: none;
  color:white;
}

li::after{
  content:'';
  display:block;
  width:0%;
  height:2px;
  background-color: red;
  margin:auto;
  transition:0.5s;
}

li:hover::after{
  width:100%;
  
}

.text-box{
  
  width:90%;
  color:white;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  text-align:center;
}

h1{
  font-size:62px;
  text-transform:capitalize;
  
}
.text-box p{
  margin:10px 0 40px;
  font-size: 14px;
  color:white;
}

.hero-btn{
  border: 1px solid white;
  background-color: red;
  padding:12px 34px;
  font-size:13px;
  text-decoration: none;
  color:white;
  background:transparent;
  cursor:pointer;
  position:relative;

}

.hero-btn:hover{
  border: 1px solid red;
  background-color: red;
  transition:1s;
}
nav .fa{
  display:none;
}

@media(max-width:700px) {
  h1{
    font-size:20px;
  }
  
  .nav-links ul li{
    display:block;
    
  }
  .nav-links{
    border:solid red 1px;
    width:200px;
    height:100vh;
    position:absolute;
    top:0px;
    right:-200px;
    background: #f44336;
    z-index:2;
    text-align:left;
    transition: 1s;
    
    
  }
  nav .fa{
    display: block;
    color:#fff;
    margin:10px;
    cursor:pointer;
    font-size:22px;

  }
   ul{
    padding:30px;
  }

  
}

/*  -------courses-----------*/

.courses{
  
  width:80%;
  
  text-align: center;
  margin:auto;
  padding-top:100px;
}
.courses h1{
  font-size: 36px;
  font-weight: 600;
  
}
.courses p{
  font-size: 14px;
  font-weight:300;
  color:#777;
  line-height: 22px;
  padding:10px;

}
.course-col h3{
   text-transform: capitalize;
   margin:10px 0;
   font-weight: 600;
   text-align: center;
}
.row{
  margin:5%;
  display:flex;
  justify-content: space-between;
}
.course-col{
  flex-basis: 31%;
  background:#fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  box-sizing: border-box;
  padding:20px 12px;
  transition:0.5s;

}

.course-col:hover{
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
}

@media(max-width:700px)
{
  .row{
    flex-direction: column;
  }
}